# This file has been generated using arFramework3/arTools/write_gitignore.m
#######################################

syntax: glob
arFramework3/arInitUser.m
arFramework3/sundials-2.4.0/
arFramework3/sundials-2.5.0/
arFramework3/sundials-2.6.1/
arFramework3/KLU-1.2.1/
.DS_Store

*.dat

arFramework3/TestSuite

arFramework3/sbml-test-cases-2014-10-22
arFramework3/sbml-test-cases-2014-10-22.zip

arFramework3/Examples/ABC_toyModel/Compiled/
arFramework3/Examples/ABC_toyModel/SBML/
arFramework3/Examples/ABC_toyModel/arSimuCalc*
arFramework3/Examples/ABC_toyModel/arCheckParallel*

arFramework3/Examples/Advanced_Events/Compiled/
arFramework3/Examples/Advanced_Events/SBML/
arFramework3/Examples/Advanced_Events/arSimuCalc*
arFramework3/Examples/Advanced_Events/arCheckParallel*

arFramework3/Examples/Bachmann_MSB2011/Compiled/
arFramework3/Examples/Bachmann_MSB2011/SBML/
arFramework3/Examples/Bachmann_MSB2011/arSimuCalc*
arFramework3/Examples/Bachmann_MSB2011/arCheckParallel*

arFramework3/Examples/Becker_Science2010/Compiled/
arFramework3/Examples/Becker_Science2010/SBML/
arFramework3/Examples/Becker_Science2010/arSimuCalc*
arFramework3/Examples/Becker_Science2010/arCheckParallel*

arFramework3/Examples/Beer_MolBiosyst2014/Compiled/
arFramework3/Examples/Beer_MolBiosyst2014/SBML/
arFramework3/Examples/Beer_MolBiosyst2014/arSimuCalc*
arFramework3/Examples/Beer_MolBiosyst2014/arCheckParallel*

arFramework3/Examples/Boehm_JProteomeRes2014/Compiled/
arFramework3/Examples/Boehm_JProteomeRes2014/SBML/
arFramework3/Examples/Boehm_JProteomeRes2014/arSimuCalc*
arFramework3/Examples/Boehm_JProteomeRes2014/arCheckParallel*

arFramework3/Examples/Bolus_Injection_Test/Compiled/
arFramework3/Examples/Bolus_Injection_Test/SBML/
arFramework3/Examples/Bolus_Injection_Test/arSimuCalc*
arFramework3/Examples/Bolus_Injection_Test/arCheckParallel*

arFramework3/Examples/DallaMan2007_GlucoseInsulinSystem/Compiled/
arFramework3/Examples/DallaMan2007_GlucoseInsulinSystem/SBML/
arFramework3/Examples/DallaMan2007_GlucoseInsulinSystem/arSimuCalc*
arFramework3/Examples/DallaMan2007_GlucoseInsulinSystem/arCheckParallel*

arFramework3/Examples/Dream6/Compiled/
arFramework3/Examples/Dream6/SBML/
arFramework3/Examples/Dream6/arSimuCalc*
arFramework3/Examples/Dream6/arCheckParallel*

arFramework3/Examples/Elowitz2000_Repressilator/Compiled/
arFramework3/Examples/Elowitz2000_Repressilator/SBML/
arFramework3/Examples/Elowitz2000_Repressilator/arSimuCalc*
arFramework3/Examples/Elowitz2000_Repressilator/arCheckParallel*

arFramework3/Examples/Event_Test/Compiled/
arFramework3/Examples/Event_Test/SBML/
arFramework3/Examples/Event_Test/arSimuCalc*
arFramework3/Examples/Event_Test/arCheckParallel*

arFramework3/Examples/Fribourg2014_ImmuneResponseH1N1/Compiled/
arFramework3/Examples/Fribourg2014_ImmuneResponseH1N1/SBML/
arFramework3/Examples/Fribourg2014_ImmuneResponseH1N1/arSimuCalc*
arFramework3/Examples/Fribourg2014_ImmuneResponseH1N1/arCheckParallel*

arFramework3/Examples/Huang1996_MapKinase/Compiled/
arFramework3/Examples/Huang1996_MapKinase/SBML/
arFramework3/Examples/Huang1996_MapKinase/arSimuCalc*
arFramework3/Examples/Huang1996_MapKinase/arCheckParallel*

arFramework3/Examples/Input_Tests/Compiled/
arFramework3/Examples/Input_Tests/SBML/
arFramework3/Examples/Input_Tests/arSimuCalc*
arFramework3/Examples/Input_Tests/arCheckParallel*

arFramework3/Examples/Kholodenko1999_EGFRsignaling/Compiled/
arFramework3/Examples/Kholodenko1999_EGFRsignaling/SBML/
arFramework3/Examples/Kholodenko1999_EGFRsignaling/arSimuCalc*
arFramework3/Examples/Kholodenko1999_EGFRsignaling/arCheckParallel*

arFramework3/Examples/Raia_CancerResearch2011/Compiled/
arFramework3/Examples/Raia_CancerResearch2011/SBML/
arFramework3/Examples/Raia_CancerResearch2011/arSimuCalc*
arFramework3/Examples/Raia_CancerResearch2011/arCheckParallel*

arFramework3/Examples/Restif2007_VaccinationInvasion/Compiled/
arFramework3/Examples/Restif2007_VaccinationInvasion/SBML/
arFramework3/Examples/Restif2007_VaccinationInvasion/arSimuCalc*
arFramework3/Examples/Restif2007_VaccinationInvasion/arCheckParallel*

arFramework3/Examples/Splines/Compiled/
arFramework3/Examples/Splines/SBML/
arFramework3/Examples/Splines/arSimuCalc*
arFramework3/Examples/Splines/arCheckParallel*

arFramework3/Examples/Steckmann2012_Fibrillogenesis/Compiled/
arFramework3/Examples/Steckmann2012_Fibrillogenesis/SBML/
arFramework3/Examples/Steckmann2012_Fibrillogenesis/arSimuCalc*
arFramework3/Examples/Steckmann2012_Fibrillogenesis/arCheckParallel*

arFramework3/Examples/Step_Estimation/Compiled/
arFramework3/Examples/Step_Estimation/SBML/
arFramework3/Examples/Step_Estimation/arSimuCalc*
arFramework3/Examples/Step_Estimation/arCheckParallel*

arFramework3/Examples/Stoichiometry/Compiled/
arFramework3/Examples/Stoichiometry/SBML/
arFramework3/Examples/Stoichiometry/arSimuCalc*
arFramework3/Examples/Stoichiometry/arCheckParallel*

arFramework3/Examples/Swameye_PNAS2003/Compiled/
arFramework3/Examples/Swameye_PNAS2003/SBML/
arFramework3/Examples/Swameye_PNAS2003/arSimuCalc*
arFramework3/Examples/Swameye_PNAS2003/arCheckParallel*

arFramework3/Examples/Volume_Estimation/Compiled/
arFramework3/Examples/Volume_Estimation/SBML/
arFramework3/Examples/Volume_Estimation/arSimuCalc*
arFramework3/Examples/Volume_Estimation/arCheckParallel*

arFramework3/Examples/Washing_and_Injection_Test/Compiled/
arFramework3/Examples/Washing_and_Injection_Test/SBML/
arFramework3/Examples/Washing_and_Injection_Test/arSimuCalc*
arFramework3/Examples/Washing_and_Injection_Test/arCheckParallel*

