# This file has been generated using arFramework3/Advanced/write_gitignore.m
#######################################

syntax: glob
arFramework3/arInitUser.m
arFramework3/sundials-2.4.0/
arFramework3/sundials-2.5.0/
arFramework3/sundials-2.6.1/
arFramework3/ThirdParty/sundials-2.6.1/
arFramework3/KLU-1.2.1/
arFramework3/ThirdParty/KLU-1.2.1/
arFramework3/ThirdParty/Ceres/ceresd2d.mex*
.DS_Store

*.dat

arFramework3/l1/trdog/trdog.m

arFramework3/Examples/Dream6_L1/Data/simu*
arFramework3/Examples/Dream6_L1/Results/20*

arFramework3/Examples/Bachmann_MSB2011/Compiled/
arFramework3/Examples/Bachmann_MSB2011/SBML/
arFramework3/Examples/Bachmann_MSB2011/arSimuCalc*
arFramework3/Examples/Bachmann_MSB2011/arCheckParallel*
arFramework3/Examples/Bachmann_MSB2011/Results/20*
arFramework3/Examples/Bachmann_MSB2011/pthreadVC2.dll
arFramework3/Examples/Bachmann_MSB2011/pthreadGC2.dll

arFramework3/Examples/Becker_Science2010/Compiled/
arFramework3/Examples/Becker_Science2010/SBML/
arFramework3/Examples/Becker_Science2010/arSimuCalc*
arFramework3/Examples/Becker_Science2010/arCheckParallel*
arFramework3/Examples/Becker_Science2010/Results/20*
arFramework3/Examples/Becker_Science2010/pthreadVC2.dll
arFramework3/Examples/Becker_Science2010/pthreadGC2.dll

arFramework3/Examples/Biomodels/DallaMan2007_GlucoseInsulinSystem/Compiled/
arFramework3/Examples/Biomodels/DallaMan2007_GlucoseInsulinSystem/SBML/
arFramework3/Examples/Biomodels/DallaMan2007_GlucoseInsulinSystem/arSimuCalc*
arFramework3/Examples/Biomodels/DallaMan2007_GlucoseInsulinSystem/arCheckParallel*
arFramework3/Examples/Biomodels/DallaMan2007_GlucoseInsulinSystem/Results/20*
arFramework3/Examples/Biomodels/DallaMan2007_GlucoseInsulinSystem/pthreadVC2.dll
arFramework3/Examples/Biomodels/DallaMan2007_GlucoseInsulinSystem/pthreadGC2.dll

arFramework3/Examples/Biomodels/Elowitz2000_Repressilator/Compiled/
arFramework3/Examples/Biomodels/Elowitz2000_Repressilator/SBML/
arFramework3/Examples/Biomodels/Elowitz2000_Repressilator/arSimuCalc*
arFramework3/Examples/Biomodels/Elowitz2000_Repressilator/arCheckParallel*
arFramework3/Examples/Biomodels/Elowitz2000_Repressilator/Results/20*
arFramework3/Examples/Biomodels/Elowitz2000_Repressilator/pthreadVC2.dll
arFramework3/Examples/Biomodels/Elowitz2000_Repressilator/pthreadGC2.dll

arFramework3/Examples/Biomodels/Fribourg2014_ImmuneResponseH1N1/Compiled/
arFramework3/Examples/Biomodels/Fribourg2014_ImmuneResponseH1N1/SBML/
arFramework3/Examples/Biomodels/Fribourg2014_ImmuneResponseH1N1/arSimuCalc*
arFramework3/Examples/Biomodels/Fribourg2014_ImmuneResponseH1N1/arCheckParallel*
arFramework3/Examples/Biomodels/Fribourg2014_ImmuneResponseH1N1/Results/20*
arFramework3/Examples/Biomodels/Fribourg2014_ImmuneResponseH1N1/pthreadVC2.dll
arFramework3/Examples/Biomodels/Fribourg2014_ImmuneResponseH1N1/pthreadGC2.dll

arFramework3/Examples/Biomodels/Huang1996_MapKinase/Compiled/
arFramework3/Examples/Biomodels/Huang1996_MapKinase/SBML/
arFramework3/Examples/Biomodels/Huang1996_MapKinase/arSimuCalc*
arFramework3/Examples/Biomodels/Huang1996_MapKinase/arCheckParallel*
arFramework3/Examples/Biomodels/Huang1996_MapKinase/Results/20*
arFramework3/Examples/Biomodels/Huang1996_MapKinase/pthreadVC2.dll
arFramework3/Examples/Biomodels/Huang1996_MapKinase/pthreadGC2.dll

arFramework3/Examples/Biomodels/Kholodenko1999_EGFRsignaling/Compiled/
arFramework3/Examples/Biomodels/Kholodenko1999_EGFRsignaling/SBML/
arFramework3/Examples/Biomodels/Kholodenko1999_EGFRsignaling/arSimuCalc*
arFramework3/Examples/Biomodels/Kholodenko1999_EGFRsignaling/arCheckParallel*
arFramework3/Examples/Biomodels/Kholodenko1999_EGFRsignaling/Results/20*
arFramework3/Examples/Biomodels/Kholodenko1999_EGFRsignaling/pthreadVC2.dll
arFramework3/Examples/Biomodels/Kholodenko1999_EGFRsignaling/pthreadGC2.dll

arFramework3/Examples/Biomodels/Restif2007_VaccinationInvasion/Compiled/
arFramework3/Examples/Biomodels/Restif2007_VaccinationInvasion/SBML/
arFramework3/Examples/Biomodels/Restif2007_VaccinationInvasion/arSimuCalc*
arFramework3/Examples/Biomodels/Restif2007_VaccinationInvasion/arCheckParallel*
arFramework3/Examples/Biomodels/Restif2007_VaccinationInvasion/Results/20*
arFramework3/Examples/Biomodels/Restif2007_VaccinationInvasion/pthreadVC2.dll
arFramework3/Examples/Biomodels/Restif2007_VaccinationInvasion/pthreadGC2.dll

arFramework3/Examples/Biomodels/Steckmann2012_Fibrillogenesis/Compiled/
arFramework3/Examples/Biomodels/Steckmann2012_Fibrillogenesis/SBML/
arFramework3/Examples/Biomodels/Steckmann2012_Fibrillogenesis/arSimuCalc*
arFramework3/Examples/Biomodels/Steckmann2012_Fibrillogenesis/arCheckParallel*
arFramework3/Examples/Biomodels/Steckmann2012_Fibrillogenesis/Results/20*
arFramework3/Examples/Biomodels/Steckmann2012_Fibrillogenesis/pthreadVC2.dll
arFramework3/Examples/Biomodels/Steckmann2012_Fibrillogenesis/pthreadGC2.dll

arFramework3/Examples/Boehm_JProteomeRes2014/Compiled/
arFramework3/Examples/Boehm_JProteomeRes2014/SBML/
arFramework3/Examples/Boehm_JProteomeRes2014/arSimuCalc*
arFramework3/Examples/Boehm_JProteomeRes2014/arCheckParallel*
arFramework3/Examples/Boehm_JProteomeRes2014/Results/20*
arFramework3/Examples/Boehm_JProteomeRes2014/pthreadVC2.dll
arFramework3/Examples/Boehm_JProteomeRes2014/pthreadGC2.dll

arFramework3/Examples/Bruno_Carotines_JExpBio2016/Compiled/
arFramework3/Examples/Bruno_Carotines_JExpBio2016/SBML/
arFramework3/Examples/Bruno_Carotines_JExpBio2016/arSimuCalc*
arFramework3/Examples/Bruno_Carotines_JExpBio2016/arCheckParallel*
arFramework3/Examples/Bruno_Carotines_JExpBio2016/Results/20*
arFramework3/Examples/Bruno_Carotines_JExpBio2016/pthreadVC2.dll
arFramework3/Examples/Bruno_Carotines_JExpBio2016/pthreadGC2.dll

arFramework3/Examples/Dream6/Compiled/
arFramework3/Examples/Dream6/SBML/
arFramework3/Examples/Dream6/arSimuCalc*
arFramework3/Examples/Dream6/arCheckParallel*
arFramework3/Examples/Dream6/Results/20*
arFramework3/Examples/Dream6/pthreadVC2.dll
arFramework3/Examples/Dream6/pthreadGC2.dll

arFramework3/Examples/Dream6_L1/Compiled/
arFramework3/Examples/Dream6_L1/SBML/
arFramework3/Examples/Dream6_L1/arSimuCalc*
arFramework3/Examples/Dream6_L1/arCheckParallel*
arFramework3/Examples/Dream6_L1/Results/20*
arFramework3/Examples/Dream6_L1/pthreadVC2.dll
arFramework3/Examples/Dream6_L1/pthreadGC2.dll

arFramework3/Examples/Merkle_JAK2STAT5_PCB2016/Compiled/
arFramework3/Examples/Merkle_JAK2STAT5_PCB2016/SBML/
arFramework3/Examples/Merkle_JAK2STAT5_PCB2016/arSimuCalc*
arFramework3/Examples/Merkle_JAK2STAT5_PCB2016/arCheckParallel*
arFramework3/Examples/Merkle_JAK2STAT5_PCB2016/Results/20*
arFramework3/Examples/Merkle_JAK2STAT5_PCB2016/pthreadVC2.dll
arFramework3/Examples/Merkle_JAK2STAT5_PCB2016/pthreadGC2.dll

arFramework3/Examples/Merkle_ToyModel_PCB2016/Compiled/
arFramework3/Examples/Merkle_ToyModel_PCB2016/SBML/
arFramework3/Examples/Merkle_ToyModel_PCB2016/arSimuCalc*
arFramework3/Examples/Merkle_ToyModel_PCB2016/arCheckParallel*
arFramework3/Examples/Merkle_ToyModel_PCB2016/Results/20*
arFramework3/Examples/Merkle_ToyModel_PCB2016/pthreadVC2.dll
arFramework3/Examples/Merkle_ToyModel_PCB2016/pthreadGC2.dll

arFramework3/Examples/Raia_CancerResearch2011/Compiled/
arFramework3/Examples/Raia_CancerResearch2011/SBML/
arFramework3/Examples/Raia_CancerResearch2011/arSimuCalc*
arFramework3/Examples/Raia_CancerResearch2011/arCheckParallel*
arFramework3/Examples/Raia_CancerResearch2011/Results/20*
arFramework3/Examples/Raia_CancerResearch2011/pthreadVC2.dll
arFramework3/Examples/Raia_CancerResearch2011/pthreadGC2.dll

arFramework3/Examples/Schwen_InsulinMouseHepatocytes_PlosOne2014/Compiled/
arFramework3/Examples/Schwen_InsulinMouseHepatocytes_PlosOne2014/SBML/
arFramework3/Examples/Schwen_InsulinMouseHepatocytes_PlosOne2014/arSimuCalc*
arFramework3/Examples/Schwen_InsulinMouseHepatocytes_PlosOne2014/arCheckParallel*
arFramework3/Examples/Schwen_InsulinMouseHepatocytes_PlosOne2014/Results/20*
arFramework3/Examples/Schwen_InsulinMouseHepatocytes_PlosOne2014/pthreadVC2.dll
arFramework3/Examples/Schwen_InsulinMouseHepatocytes_PlosOne2014/pthreadGC2.dll

arFramework3/Examples/Swameye_PNAS2003/Compiled/
arFramework3/Examples/Swameye_PNAS2003/SBML/
arFramework3/Examples/Swameye_PNAS2003/arSimuCalc*
arFramework3/Examples/Swameye_PNAS2003/arCheckParallel*
arFramework3/Examples/Swameye_PNAS2003/Results/20*
arFramework3/Examples/Swameye_PNAS2003/pthreadVC2.dll
arFramework3/Examples/Swameye_PNAS2003/pthreadGC2.dll

