[submodule "arFramework3/ThirdParty/matlab2tikz"]
	path = arFramework3/ThirdParty/matlab2tikz
	url = git@github.com:matlab2tikz/matlab2tikz.git
[submodule "arFramework3/ThirdParty/parfor_progress"]
	path = arFramework3/ThirdParty/parfor_progress
	url = git@github.com:dumbmatter/parfor_progress.git
