[submodule "arFramework3/ThirdParty/matlab2tikz"]
	path = arFramework3/ThirdParty/matlab2tikz
	url = git@github.com:matlab2tikz/matlab2tikz.git
[submodule "arFramework3/ThirdParty/parfor_progress"]
	path = arFramework3/ThirdParty/parfor_progress
	url = git@github.com:dumbmatter/parfor_progress.git
[submodule "arFramework3/ThirdParty/plot2svg"]
	path = arFramework3/ThirdParty/plot2svg
	url = git@github.com:jschwizer99/plot2svg.git
[submodule "arFramework3/ThirdParty/export_fig"]
	path = arFramework3/ThirdParty/export_fig
	url = git@github.com:altmany/export_fig.git
[submodule "arFramework3/ThirdParty/Ceres/ceres-solver"]
	path = arFramework3/ThirdParty/Ceres/ceres-solver
	url = git@github.com:ceres-solver/ceres-solver.git
